@page "/"
<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var animal in shuffledAnimals)
        {
            <div class="col-3">
                <button type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

@code{
    //create list of emoji's
    List<string> animalEmoji = new List<string>()
    {
        "🐊","🐊",
        "🐇","🐇",
        "🦁","🦁",
        "🐒","🐒",
        "🐝","🐝",
        "🐣","🐣",
        "🐲","🐲",
        "🐾","🐾",
    };

    //creating the second list to store pair of shuffled emojis (bucket)
    List<string> shuffledAnimals = new List<string>();


    //Set up the game every time the page is reloaded
    protected override void OnInitialized()
    {
        //The end of a method that sets up the game
        SetUpGame();
    }

    //The beginning of a method that sets up the game
    private void SetUpGame()
    {
        //Create a new random number generator
        Random random = new Random();
        // Create copies of the animal emoji, shuffle them,
        //and store them in the shuffledAnimals list
        shuffledAnimals = animalEmoji.OrderBy(item => random.Next()).ToList();
    }

        }